@model Certificationauthority.Models.ServiceModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="container">
    <table class="table table-bordered table-hover table-striped table-sm">

        <tbody>

            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Serial)</th>
                <td id="ser">
                    @Html.DisplayFor(model => model.Serial)
                </td>

            </tr>
            
            <tr >
                <th scope="row">@Html.DisplayNameFor(model => model.Object)</th>
                <td id="objec">
                    @Html.DisplayFor(model => model.Object)
                </td>
            </tr>
            <tr id="reas">
                <th scope="row">@Html.DisplayNameFor(model => model.Reason)</th>
                <td>
                    @Html.DisplayFor(model => model.Reason)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
  
 <input type="button" class="btn btn-primary" id="create" value="Validate" onclick="location.href='@Url.Action("Validate", "Service", new { Serial = Model.Serial })'" />
  <input type="button" class="btn btn-primary" id="Delete" value="Delete" onclick="location.href='@Url.Action("Delete", "Service", new { id = Model.Id })'" />
<div> 
    
</div>
  
    <a asp-action="Index">Back to List</a>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
        $(document).ready(function () {
          
        var val = document.getElementById("objec").innerText;
          //  var val = $("#objec").text();

            if (val != "Revoke") {
                $('#reas').hide();
            }
            else $('#reas').show();

        });

    
</script>
}