@model Certificationauthority.Models.ServiceModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="container">
    <table class="table table-striped table-dark">

        <tbody>

            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Serial)</th>
                <td id="ser">
                    @Html.DisplayFor(model => model.Serial)
                </td>

            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Password)</th>
                <td>
                    @Html.DisplayFor(model => model.Password)
                </td>

            </tr>
            <tr id="ob">
                <th scope="row">@Html.DisplayNameFor(model => model.Object)</th>
                <td id="objec">
                    @Html.DisplayFor(model => model.Object)
                </td>
            </tr>
            <tr id="reas">
                <th scope="row">@Html.DisplayNameFor(model => model.Reason)</th>
                <td>
                    @Html.DisplayFor(model => model.Reason)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Validate", "Validate", new { id = Model.Id })
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
        $(document).ready(function () {
            var value = document.getElementById("ser").innerText;
            $.get('@Url.Action("CheckPassword")', { Serial: value }, function (data) {
                alert(data.s);
            })

            $('#reas').hide();
        var val = document.getElementById("objec").innerText;
          //  var val = $("#objec").text();

        if (val == "Revoke") {
            $('#reas').show();

        }

    });

</script>
}