@model Certificationauthority.Models.ServiceModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="container">
    <table class="table table-striped table-dark">

        <tbody>

            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Serial)</th>
                <td>
                    @Html.DisplayFor(model => model.Serial)
                </td>

            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Password)</th>
                <td>
                    @Html.DisplayFor(model => model.Password)   
                </td>

            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Objet)</th>
                <td>
                    @Html.DisplayFor(model => model.Objet)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
</div>
