@model RegistrationAuthority.Models.CsrModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CsrModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomainComponent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomainComponent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationalUnitName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationalUnitName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Algorithme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Algorithme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeySize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeySize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Privatekey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Privatekey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publickey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publickey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RawData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RawData)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
