@model RegistrationAuthority.Models.CsrModel

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <h1>CSR Details</h1>
    <table class="table  table-responsive-sm">

        <tbody>
            <tr>
                <th scope="row" class="bg-gradient-success">Distinguished Name</th>
                <td class="bg-gradient-success">
                    @Html.DisplayFor(model => model.SubjectDN)
                </td>

            </tr>

           

            <tr>
                <th scope="row" class="bg-gradient-success">Signature Algorithm</th>
                <td class="bg-gradient-success">
                    @Html.DisplayFor(model => model.Signature)
                </td>


            </tr>
            <tr>
                <th scope="row" class="bg-gradient-success">Public key Algorithm</th>
                <td class="bg-gradient-success">
                    @Html.DisplayFor(model => model.Algorithme)
                </td>

            </tr>
            <tr>
                <th scope="row" class="bg-gradient-success">key Size</th>
                <td class="bg-gradient-success">
                    @Html.DisplayFor(model => model.KeySize)
                </td>

            </tr>
            <tr>
                <th scope="row" class="bg-gradient-success">Thumbprint</th>
                <td class="bg-gradient-success">

                        <TEXTAREA  rows="5" cols="30" readonly class="form-control text-monospace bg-gradient-info">@Html.DisplayFor(model => model.Thumbprint)</TEXTAREA>
                    
                </td>

            </tr>
            <tr>
                <th scope="row" class="bg-gradient-success">Public Key</th>
                <td>
                       
                    <TEXTAREA  rows="12" cols="30" readonly class="form-control text-monospace bg-gradient-info" id="public">@Html.DisplayFor(model => model.Publickey)</TEXTAREA>
                    <input type="button" class="btn btn-primary" value="Save .pem" onclick="location.href='@Url.Action("Download_PEM_Public", "Csr", new { id = Model.Id })'" />
                </td>

            </tr>
            <tr>
                <th scope="row" class="bg-gradient-success">Private Key</th>
                <td class="bg-gradient-success">
                      
                    <TEXTAREA  rows="12" cols="30" readonly class="form-control text-monospace bg-gradient-info" id="private">@Html.DisplayFor(model => model.Privatekey)</TEXTAREA>
                    <input type="button" class="btn btn-primary" value="Save .pem" onclick="location.href='@Url.Action("Download_PEM_Private", "Csr", new { id = Model.Id })'" />
                </td>

            </tr>
            <tr>
                <th scope="row" class="bg-gradient-success">Extensions</th>
                <td class="bg-gradient-success">
                       
                    <TEXTAREA  rows="12" cols="30" readonly class="form-control text-monospace bg-gradient-info">@Html.DisplayFor(model => model.Extensions)</TEXTAREA>

                </td>

            </tr>
            <tr>
                <th scope="row" class="bg-gradient-success">CSR</th>
                <td class="bg-gradient-success">
                      
                    <TEXTAREA  rows="12" cols="30" readonly class="form-control text-monospace bg-gradient-info" id="csr">@Html.DisplayFor(model => model.Certificat)</TEXTAREA>
                    <input type="button" class="btn btn-primary" value="Save .pem" onclick="location.href='@Url.Action("Download_PEM", "Csr", new { id = Model.Id })'" />
                    <input type="button" class="btn btn-primary" value="Save .csr" onclick="location.href='@Url.Action("Download", "Csr", new { id = Model.Id })'" />
                </td>

            </tr>
        </tbody>
    </table>
</div>

