@model RegistrationAuthority.Models.CsrModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="container">
   
        <table class="table table-striped table-dark">

            <tbody>
                <tr>
                    <th scope="row">Distinguished Name</th>
                    <td>
                        @Html.DisplayFor(model => model.Distinguished_Name)
                    </td>

                </tr>
                <tr>
                    <th scope="row">Signature Algorithm</th>
                    <td>
                        @Html.DisplayFor(model => model.Signature)
                    </td>


                </tr>
                <tr>
                    <th scope="row">Public key Algorithm</th>
                    <td>
                        @Html.DisplayFor(model => model.Algorithme)
                    </td>

                </tr>
                <tr>
                    <th scope="row">key Size</th>
                    <td>
                        @Html.DisplayFor(model => model.KeySize)
                    </td>

                </tr>
                <tr>
                    <th scope="row">Thumbprint</th>
                    <td>
                        
                        <TEXTAREA wrap="hard" rows="5" cols="30" readonly class="form-control text-monospace">@Html.DisplayFor(model => model.Thumbprint)</TEXTAREA>
                    </td>

                </tr>
                <tr>
                    <th scope="row">Public Key</th>
                    <td>
                        <TEXTAREA wrap="hard" rows="12" cols="30" readonly  class="form-control text-monospace">@Html.DisplayFor(model => model.Publickey)</TEXTAREA>

                    </td>

                </tr>
                <tr>
                    <th scope="row">Private Key</th>
                    <td>
                        <TEXTAREA wrap="hard" rows="12" cols="30" readonly  class="form-control text-monospace">@Html.DisplayFor(model => model.Privatekey)</TEXTAREA>
                       
                    </td>

                </tr>
                <tr>
                    <th scope="row">Certificate Signing Request</th>
                    <td>
                        <TEXTAREA wrap="hard" rows="12" cols="30" readonly  class="form-control text-monospace">@Html.DisplayFor(model => model.RawData)</TEXTAREA>
                      
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
