@model Certificationauthority.Models.CrlModel
@{
    ViewData["Title"] = "Details";
}



    <div class="container">
        <h1>CRL Details</h1>
        <table class="table table-responsive-sm ">

            <tbody>
                <tr>
                    <th scope="row" class="bg-gradient-success">@Html.DisplayNameFor(model => model.Serial)</th>
                    <td class="bg-gradient-success">
                        @Html.DisplayFor(model => model.Serial)
                    </td>

                </tr>
                <tr>
                    <th scope="row" class="bg-gradient-success">@Html.DisplayNameFor(model => model.ThisUpdate)</th>
                    <td class="bg-gradient-success">
                        @Html.DisplayFor(model => model.ThisUpdate)
                    </td>

                </tr>
                <tr>
                    <th scope="row" class="bg-gradient-success">@Html.DisplayNameFor(model => model.NextUpdate)</th>
                    <td class="bg-gradient-success">
                        @Html.DisplayFor(model => model.NextUpdate)
                    </td>

                </tr>
                <tr>

                    <th scope="row" class="bg-gradient-success">Revoked Certificates</th>
                    <td class="bg-gradient-success">
                        
                            <table class="table table-responsive-sm ">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="bg-gradient-warning">Serial Number</th>
                                        <th class="bg-gradient-warning">Revocation Date</th>
                                        <th class="bg-gradient-warning">Revocation Reason</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model.RevokedCertificates)
                                    {
                                        <tr>
                                            <td class="bg-gradient-warning">
                                                @Html.DisplayFor(modelItem => item.Serial)
                                            </td>
                                            <td class="bg-gradient-warning">
                                                @Html.DisplayFor(modelItem => item.RevocationDate)
                                            </td>

                                            <td class="bg-gradient-warning">
                                                @Html.DisplayFor(modelItem => item.Reason)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                 

                    </td>

                </tr>
                <tr>
                    <th scope="row" class="bg-gradient-success">CRL</th>
                    <td class="bg-gradient-success">
                        <TEXTAREA  rows="12" cols="30" readonly class="form-control text-monospace  bg-gradient-info">@Html.DisplayFor(model => model.Content)</TEXTAREA>
                        <input type="button" class="btn btn-primary" value="Save .pem" onclick="location.href='@Url.Action("Download_PEM", "Crl", new { Serial = Model.Serial })'" />
                        <input type="button" class="btn btn-primary" value="Save .clr" onclick="location.href='@Url.Action("Download", "Crl", new { Serial = Model.Serial })'" />
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
