@model Certificationauthority.Models.CrlModel
@{
    ViewData["Title"] = "Details";
}



<div class="bs-component">
    <div class="alert  bg-gradient-primary text-dark">
        <strong>CRL Details</strong>
    </div>
</div>
<div class="container-fluid">

    <table class="table  table-responsive-sm table-hover text-dark">

        <tbody>
            <tr>
                <th scope="row" class="bg-gradient-primary">@Html.DisplayNameFor(model => model.Serial)</th>
                <td class="bg-gradient-secondary">
                    @Html.DisplayFor(model => model.Serial)
                </td>

            </tr>
            <tr>
                <th scope="row" class="bg-gradient-primary">@Html.DisplayNameFor(model => model.ThisUpdate)</th>
                <td class="bg-gradient-secondary">
                    @Html.DisplayFor(model => model.ThisUpdate)
                </td>

            </tr>
            <tr>
                <th scope="row" class="bg-gradient-primary">@Html.DisplayNameFor(model => model.NextUpdate)</th>
                <td class="bg-gradient-secondary">
                    @Html.DisplayFor(model => model.NextUpdate)
                </td>

            </tr>
            <tr>
                <th scope="row" class="bg-gradient-primary">Revoked Certificates</th>
                <td class="bg-gradient-secondary">
                    <table class="table  table-responsive-sm table-hover text-dark">
                        <thead class="bg-gradient-primary">
                            <tr>
                                <th class="bg-gradient-primary">Serial Number</th>
                                <th class="bg-gradient-primary">Revocation Date</th>
                                <th class="bg-gradient-primary">Revocation Reason</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.RevokedCertificates)
                            {
                                <tr>
                                    <td class="bg-gradient-warning">
                                        @Html.DisplayFor(modelItem => item.Serial)
                                    </td>
                                    <td class="bg-gradient-warning">
                                        @Html.DisplayFor(modelItem => item.RevocationDate)
                                    </td>

                                    <td class="bg-gradient-warning">
                                        @Html.DisplayFor(modelItem => item.Reason)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>

            </tr>
            <tr>
                <th scope="row" class="bg-gradient-primary">CRL</th>
                <td class="bg-gradient-secondary">
                    <TEXTAREA rows="12" cols="30" readonly class="form-control text-monospace bg-success">@Html.DisplayFor(model => model.Content)</TEXTAREA>
                    <input type="button" class="btn btn-danger" value="Save .pem" onclick="location.href='@Url.Action("Download_PEM", "Crl")'" />
                    <input type="button" class="btn btn-warning" value="Save .clr" onclick="location.href='@Url.Action("Download", "Crl")'" />
                </td>

            </tr>
        </tbody>
    </table>
</div>
