@model IEnumerable<Certificationauthority.Models.CrlModel>

@{
    ViewData["Title"] = "Index";
}


<div class="bs-component">
    <div class="alert  bg-gradient-primary text-dark">
        <strong>CRL List</strong>
    </div>
</div>

<div class="container">
    <table class="table  table-responsive-sm  text-dark">
        <thead class="bg-gradient-primary">
            <tr>
                <th class="bg-gradient-primary">
                    @Html.DisplayNameFor(model => model.Serial)
                </th>

                <th class="bg-gradient-primary">
                    @Html.DisplayNameFor(model => model.ThisUpdate)
                </th>
                <th class="bg-gradient-primary">
                    @Html.DisplayNameFor(model => model.NextUpdate)
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="bg-gradient-secondary">
                    @Html.DisplayFor(modelItem => item.Serial)
                </td>
                <td class="bg-gradient-secondary">
                    @Html.DisplayFor(modelItem => item.ThisUpdate)
                </td>
                <td class="bg-gradient-secondary">
                    @Html.DisplayFor(modelItem => item.NextUpdate)
                </td>
                <td class="bg-gradient-secondary ">
                    <input type="button" class="btn btn-success container" value="Details" onclick="location.href='@Url.Action("Details", "Crl", new { Serial = item.Serial })'" />
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
