@model IEnumerable<Certificationauthority.Models.CsrModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectDN)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectDN)
                    </td>

                    <td>

                        @Html.ActionLink("Details", "Details", new { id = item.Id }) 

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
