@model IEnumerable<Certificationauthority.Models.CsrModel>

@{
    ViewData["Title"] = "Index";
}

    <div class="bs-component">
        <div class="alert  bg-gradient-primary text-dark">
            <strong>CSR List</strong>
        </div>
    </div>

    <div class="container">
        <form class="form-inline my-2 my-lg-0" asp-controller="Csr" asp-action="Index">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="SearchString">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <table class="table  table-responsive-sm  text-dark">
            <thead class="bg-gradient-primary">
                <tr>
                    <th class="bg-gradient-primary">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th class="bg-gradient-primary">
                        @Html.DisplayNameFor(model => model.SubjectDN)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="bg-gradient-secondary">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="bg-gradient-secondary">
                        @Html.DisplayFor(modelItem => item.SubjectDN)
                    </td>

                    <td class="bg-gradient-secondary">
                        <input type="button" class="btn btn-success" value="Details" onclick="location.href='@Url.Action("Details", "Csr", new { id = item.Id })'" />
                      

                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
