@model Certificationauthority.Models.CertModel

@{
    ViewData["Title"] = "Validate";
}

<h1>Validate</h1>

<div class="container">

    <table class="table table-striped table-dark">

        <tbody>
            <tr>
                <th scope="row">Serial Number</th>
                <td>
                    @Html.DisplayFor(model => model.Serial)
                </td>

            </tr>
            <tr>
                <th scope="row">Distinguished Name</th>
                <td>
                    @Html.DisplayFor(model => model.SubjectDN)
                </td>

            </tr>
            <tr>
                <th scope="row">Issuer Distinguished Name</th>
                <td>
                    @Html.DisplayFor(model => model.IssuerDN)
                </td>

            </tr>
            <tr>
                <th scope="row">NotBefore</th>
                <td>
                    @Html.DisplayFor(model => model.NotBefore)
                </td>

            </tr>
            <tr>
                <th scope="row">NotAfter</th>
                <td>
                    @Html.DisplayFor(model => model.NotAfter)
                </td>

            </tr>
            <tr>
                <th scope="row">Signature Algorithm</th>
                <td>
                    @Html.DisplayFor(model => model.Signature)
                </td>


            </tr>
            <tr>
                <th scope="row">Public key Algorithm</th>
                <td>
                    @Html.DisplayFor(model => model.Algorithme)
                </td>

            </tr>
            <tr>
                <th scope="row">key Size</th>
                <td>
                    @Html.DisplayFor(model => model.KeySize)
                </td>

            </tr>
            <tr>
                <th scope="row">Thumbprint</th>
                <td>

                    <TEXTAREA wrap="hard" rows="5" cols="30" readonly class="form-control text-monospace">@Html.DisplayFor(model => model.Thumbprint)</TEXTAREA>
                </td>

            </tr>
            <tr>
                <th scope="row">Public Key</th>
                <td>
                    <TEXTAREA wrap="hard" rows="12" cols="30" readonly class="form-control text-monospace">@Html.DisplayFor(model => model.Publickey)</TEXTAREA>

                </td>

            </tr>
            <tr>
                <th scope="row">Private Key</th>
                <td>
                    <TEXTAREA wrap="hard" rows="12" cols="30" readonly class="form-control text-monospace">@Html.DisplayFor(model => model.Privatekey)</TEXTAREA>

                </td>

            </tr>
            <tr>
                <th scope="row">Extensions</th>
                <td>
                    <TEXTAREA wrap="hard" rows="12" cols="30" readonly class="form-control text-monospace">@Html.DisplayFor(model => model.Extensions)</TEXTAREA>

                </td>

            </tr>
            <tr>
                <th scope="row">Certificate</th>
                <td>
                    <TEXTAREA wrap="hard" rows="12" cols="30" readonly class="form-control text-monospace">@Html.DisplayFor(model => model.Certificat)</TEXTAREA>

                </td>

            </tr>
        </tbody>
    </table>
</div>
<div>

    <a asp-action="Index">Back to Index</a>
</div>