@model RegistrationAuthority.Models.CrlModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container">

    <table class="table table-striped table-dark">

        <tbody>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Serial)</th>
                <td>
                    @Html.DisplayFor(model => model.Serial)
                </td>

            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.ThisUpdate)</th>
                <td>
                    @Html.DisplayFor(model => model.ThisUpdate)
                </td>

            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.NextUpdate)</th>
                <td>
                    @Html.DisplayFor(model => model.NextUpdate)
                </td>

            </tr>
            <tr>
                <th scope="row">Revoked Certificates</th>
                <td>
                    <table class="table table-striped table-dark">
                        <thead>
                            <tr>
                                <th>Serial Number</th>
                                <th>Revocation Date</th>
                                <th>Revocation Reason</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.RevokedCertificates)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Serial)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RevocationDate)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reason)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>

            </tr>
            <tr>
                <th scope="row">Crl</th>
                <td>
                    <TEXTAREA wrap="hard" rows="12" cols="30" readonly class="form-control text-monospace">@Html.DisplayFor(model => model.Content)</TEXTAREA>

                </td>

            </tr>
        </tbody>
    </table>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>